body {
    width:100%;
    font-family: 'Kanit';
}

.centered {
    display: table;
    margin: 20px auto;
}

.container{
    margin-bottom: 100px;
}

.graph {
    width: 50%;
    margin: 0 auto;
}

nav{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(218, 220, 224);
    margin-bottom: 20px;
}

nav h1{
    margin-left: 100px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1400px;
    }
}

div.tooltip {
    position: absolute;
    text-align: left;
    color: white;
    white-space: normal;
    padding: 6px;
    font-size: 14px;
    background: rgb(108, 117, 125);
    border: 1px solid rgb(108, 117, 125);
    border-radius: 3px;
    pointer-events: none;
    cursor: none;
}

.radio-button-beeswarm {
    margin-top: 50px;
}

#input-artist-search{
    width: 80%; 
    margin: auto;
}

.proposed-artist{
    margin: auto;
    width: 80%;
    border: solid 1px black;
    padding: 3px;
}

.proposed-artist:hover{
    background:rgb(108, 117, 125);
    cursor: pointer;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
}

.panel-footer {
    display: flex;
    justify-content: space-between;
  }