body {
    width:100%
}

.centered {
    display: table;
    margin: 20px auto;
}

.graph {
    width: 50%;
    margin: 0 auto;
}

div.tooltip {
    position: absolute;
    text-align: left;
    color: white;
    white-space: normal;
    padding: 6px;
    font-size: 14px;
    background: rgb(105,105,105);
    border: 1px solid rgb(105,105,105);
    border-radius: 3px;
    pointer-events: none;
    cursor: none;
}

.radio-button-beeswarm {
    margin-top: 50px;
}

#input-artist-search{
    width: 80%; 
    margin: auto;
}