body {
    width:100%;
    font-family: 'Kanit';
}

.centered {
    display: table;
    margin: 20px auto;
}

#beeswarm{
    margin-bottom: 100px;
}

.graph {
    width: 50%;
    margin: 0 auto;
}

nav{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(0, 178, 99);
    margin-bottom: 20px;
}

nav h1 {
    position: absolute;
    margin-left: 80px;

}

@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

div.tooltip {
    position: absolute;
    text-align: left;
    color: white;
    white-space: normal;
    padding: 6px;
    font-size: 14px;
    background: rgb(108, 117, 125);
    border: 1px solid rgb(108, 117, 125);
    border-radius: 3px;
    pointer-events: none;
    cursor: none;
}

.radio-button-beeswarm {
    margin-top:50px;
}

#input-artist-search{
    width: 80%; 
    margin: auto;
}

.proposed-artist{
   margin: auto;
    width: 80%;
    border-bottom: solid 1px rgb(0, 178, 99);
    padding: 3px;
}


.proposed-artist:hover{
    background:rgb(237, 239, 238);
    cursor: pointer;

}

#word-histogram{
    padding-bottom: 30px;
    background-color:  rgb(247, 247, 247);
    margin-bottom: 70px;
}

#word-histogram .col-sm{
    text-align: center;
}

#word-histogram hr{
    width:80%;
    border-top: 1px solid black;
}

#word-histogram #legend{
    width: 10%;
    text-align: center;
    position: relative;
    top: 50px;
}

#word-histogram #source{
    font-size: 10px;
    position: relative;
    top: 20px;
    left: 10px;
}

#word-histogram a{
    color: black;
}

#word-histogram .y1990{
    color:rgb(142, 89, 171);
}

#word-histogram .y2000{
    color:rgb(240, 71, 112);
}

#word-histogram .y2010{
    color: rgb(0, 178, 99);
}

#word-histogram .y2020{
    color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(0, 178, 99);
}

.panel-footer {
    display: flex;
    justify-content: space-between;
  }