body {
    width:100%;
    font-family: 'Kanit';
}

a:hover{
    color:black;
}

.stats{
    font-size: 24px;
    color: gray;
    font-style: italic;
}

a {
    color:  rgb(0, 178, 99);
}

.annotation-separator{
    width: 40%;
    border-top: 1px solid rgb(0, 178, 99);
}

#intro {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    height: 250px;
    margin-bottom: 20px;
}

#beeswarm .title{
    padding-top: 20px;
    font-size: 50px;
}

#intro p {
    margin-top: 0px ;
    margin-bottom: 0px ;
}

#intro #left{
    float: left;
}

#intro #right{
    float: right;
}

#beeswarm{
    background-color:  rgb(247, 247, 247);
    padding-bottom: 20px;
}

@media (min-width: 1400px) {
    .container{
        max-width: 1400px;
    }
}

div.tooltip {
    position: absolute;
    text-align: left;
    color: white;
    white-space: normal;
    padding: 6px;
    font-size: 14px;
    background: rgb(108, 117, 125);
    border: 1px solid rgb(108, 117, 125);
    border-radius: 3px;
    pointer-events: none;
    cursor: none;
}

.tooltip strong{
    font-size: 20px;
}

.radio-button-beeswarm {
    margin-top:50px;
}

#word-histogram .title{
    font-size: 50px;
    margin-bottom: 70px;
}


#word-histogram{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color:  rgb(247, 247, 247);
}

#word-histogram .col-sm{
    text-align: center;
}

#word-histogram hr{
    width:80%;
    border-top: 1px solid black;
}

#word-histogram #legend-container{
    text-align: center;
    float: left;
}

#word-histogram #criterion-container{
    float: right;
    text-align: center;
}

#word-histogram #source{
    font-size: 10px;
    position: relative;
    top: 20px;
    left: 10px;
}

#word-histogram a{
    color: black;
}

#word-histogram .c0{
    color:rgb(142, 89, 171);
}

#word-histogram .c1{
    color:rgb(240, 71, 112);
}

#word-histogram .c2{
    color: rgb(0, 178, 99);
}

#word-histogram .c3{
    color: black;
}

.annotation{
    padding: 50px;
    font-size: 28px;
    width: 80%;
    text-align: left;
}